
*{
    margin: 0;
    padding: 0;
}

html{
    height: 100%;
    overflow: hidden;
    font-family: 'Times New Roman', Times, serif;
    overflow-y: scroll;
}

body{

    background-image: linear-gradient(rgba(0, 0, 0, 0.627),rgba(0, 0, 0, 0.5)),
    url("../img/brightcityjpg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.border{

    background-color:#0C090A;
    background-size: cover;
    width: 100%;
    height: 50px;
}

.navbar {
    width: 100%;
    position: absolute;
    top: 3px;
    display: flex;
    justify-content: center; /* centers the ul */
    align-items: center;
    padding: 10px 0;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: medium;
}


.otech {
    height: 50px;         /* or use clamp() for responsiveness */
    width: auto;
    object-fit: contain;  /* ensures aspect ratio is preserved */
    display: block;       /* removes any unwanted inline spacing */
}



.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: wheat;
    position: absolute;
    left: 50%;
    bottom: -8px;
    transition: 0.2s;
    transform: translateX(-50%); /* Centers the pseudo-element */
}

.navbar ul li:hover::after{
    width: 100%;
    left: 50%; /* Starts from the center */
    transform: translateX(-50%); /* Keeps the pseudo-element centered */
}



/* Content regarding Navbar/Wallpaper (ABOVE) */
